src/main/webapp/messages/text-schema.xml

<?xml version="1.0" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="text">	
	<xs:complexType mixed="true">
		<xs:attribute name="key" type="xs:string" use="required" />			
	</xs:complexType>
</xs:element>

<xs:element name="content">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:element>
	
</xs:schema>